<!DOCTYPE html>
<html>
    <head>
        <title>Insecure Admin Page</title>
        <link rel="stylesheet" href="../public/stylesheets/style.css">
        <script src="../public/javascripts/adminstart.js" defer></script>
    </head>
    <body>
        <div class="heading">
            <div class="titletext">
                Admin Page
            </div>
            <a href="./user.html">
                <button id="adminLink">User Page</button>
            </a>
        </div>
        <div id="listOfData">

        </div>
        <a href="./create.html">
            <button id="createBtn">Create new Entry!</button>
        </a>
    </body>
</html>