<!DOCTYPE html>
<html>
    <head>
        <title>Insecure Admin Page</title>
        <link rel="stylesheet" href="../public/stylesheets/style.css">
    </head>
    <body>
        <div class="heading">
            <div id="userButton">
                <a href="./user.html">
                    <button>User Page</button>
                </a>
            </div>
        </div>
        <div class="entry">
            WIP list blogs with edit and delete
        </div>
        <div class="entry">
            <a href="./create.html">
                <button>Create new Entry!</button>
            </a>
        </div>
    </body>
</html>