<!DOCTYPE html>
<html>
    <head>
        <title>Add blog</title>
    </head>
    <body>
        <form action="http://localhost:3000/add" method="post">
            <p>
                <label for="title">Title</label>
                <input type="text" name="title" id="title">
            </p>
            <p>
                <label for="text">Text</label>
                <textarea id="text" name="text" rows="10" cols="100"></textarea>
            </p>
            <input type="submit">
        </form>
    </body>
</html>