<!DOCTYPE html>
<html>
    <head>
        <title>Add blog</title>
        <link rel="stylesheet" href="../public/stylesheets/style.css">
        <script src="../public/javascripts/validateCreate.js" defer></script>
    </head>
    <body>
        <div class="heading">
            <div class="titletext">
                Blog Creator
            </div>
        </div>
        <!-- TODO investigate redirect bug if time permits -->
        <form action="http://localhost:3000/add" method="post" class="createForm" target="user.html">
            <p>
                <label for="title">Title</label>
                <input type="text" name="title" id="title">
            </p>
            <p>
                <label for="txt" id="textLabel">Text</label>
                <textarea id="txt" name="txt" rows="10" cols="100"></textarea>
            </p>
            <input id="submitCreate" type="submit" value="Create Blog">
        </form>
    </body>
</html>