<!DOCTYPE html>
<html>
    <head>
        <title>Blog Website</title>
        <link rel="stylesheet" href="../public/stylesheets/style.css">
        <script src="../public/javascripts/userstart.js" defer></script>
    </head>
    <body>
        <div class="heading">
            <div class="titletext">
                My Blogging Website
            </div>
            <a href="./admin.html">
                <button id="adminLink">Admin Page</button>
            </a>
        </div>

        <!-- This is filled in with database data for blogs -->
        <div id="entries">

        </div>
    </body>
</html>
