<!DOCTYPE html>
<html>
    <head>
        <title>Blog Website</title>
        <link rel="stylesheet" href="../public/stylesheets/style.css">
        <script src="../public/javascripts/userstart.js" defer></script>
    </head>
    <body>
        <div class="heading">
            <div id="userPageTitle">
                Hello
            </div>
            <div id="adminLink">
                <a href="./admin.html">
                    <button>Admin Page</button>
                </a>
            </div>
        </div>

        <!-- This is filled in with database data for blogs -->
        <div id="entries">

        </div>
    </body>
</html>
