.title{
    font-size: 30px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    font-size: 18px;
}

.entry{
    background-color: gray;
    position: relative;
    left: 9%;
    margin: 30px;
    width: 80%;
}

.createForm{
    align-items: center;
    justify-content: center;
    margin: 40px;
    padding: 20px;
    font-size: 20px;
    background-color: gray;
    border-radius: 10px;
}

.redOutline{
    border: 2px solid red;
}

#textLabel{
    vertical-align: top;
}